body {
  background-color: #171717;
  color: white;
}

.section {
  background-color: #252525;
}

#title {
  background-color: #171717;
}

#header-nav {
  background-color: #070707dd;
}

div#header-menu {
  background-color: #070707dd;
}

.header-nav-item > a {
  color: white;
}
.header-nav-item > a:hover {
  color: white;
}
footer {
  color: darkgray;
  background-color: #171717;
}

.header-menu-link > li > a:link,
:visited {
  color: #afafaf;
}

figure {
  background-color: #202020;
  border-color: #a5a7aa;
}
