body {
  background-color: #171717;
  color: white;
}

.section {
  background-color: #252525;
}

#header-nav {
  background-color: #070707dd;
}

div#header-menu {
  background-color: #070707dd;
}

.header-nav-item > a {
  color: white;
}
.header-nav-item > a:hover {
  color: white;
}
footer{
  color: darkgray;
  text-align: center;
  font-size: 15.5px;
  font-style: italic;
  margin-bottom: 15px;
}