#header-nav-left > ul {
  list-style-type: none;
}
#header-nav-left {
  max-height: 64px;
  overflow: hidden;
  padding: 10px 0;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
  /*!!decidere!!*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div#header-menu {
  top: 84px;
  display: none;
  position: fixed;
  transition: 0.4s;
  width: 100%;
}
.header-menu > li {
  list-style-type: none;
  margin-left: 35px;
  float: left;
}
.header-menu-link > li > a:link,
:visited {
  text-decoration: none;
}
.header-menu-link > li > a:hover {
  text-decoration: underline;
}
.header-nav-item > a {
  text-decoration: none;
}
.header-nav-item {
  float: left;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.header-nav-item > a {
  display: inline;
  line-height: 32px;
}
.header-nav-item > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#header-menu > ul {
  list-style-type: none;
}
#header-menu > ul > li {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
}
#img-menu-arrow {
  width: 16px;
}
.header-nav-item img {
  float: left;
  display: inline;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-bottom: 16px;
}
.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;

  display: inline-block;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #dddddd;
  transition: background 0.2s;
}
.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  background: #141414;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(20px);
}
.header-menu.header-menu-link {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 0;
  width: 92%;
  padding: 0;
}
.header-menu > li {
}

@media screen and (max-width: 580px) {
  #header-nav {
    padding: 25px 0 !important;

    max-height: 54px;
  }
  #header-nav a {
    float: none;
    text-align: left;
  }
  #header-nav-right {
    float: none;
  }
  #header-menu {
    top: 102px !important;
    transition: 0.4s;
  }
  .header-menu > li {
    list-style-type: disc;
    float: left;
    margin: 0px 8px;
    width: 43%;
  }
  .header-menu-link > li > a:link,
  :visited {
    color: #afafaf;
    text-decoration: none;
  }
  .header-menu > li {
    display: none;
  }
}
