#header-nav {
  max-height: 64px;
  overflow: hidden;
  background-color: #070707dd;
  padding: 10px 0;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
  /*!!decidere!!*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header-nav > ul {
  list-style-type: none;
}

.header-nav-item {
  float: left;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.header-nav-item > a {
  display: inline;
  line-height: 32px;
}

div#header-menu {
  top: 84px;
  display: none;
  position: fixed;
  background-color: #070707dd;
  transition: 0.4s;
  width: 100%;
}

#header-menu > ul {
  list-style-type: none;
}

#header-menu > ul > li {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
}

#img-menu-arrow {
  width: 16px;
}

.header-nav-item > img {
  float: left;
  display: inline;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-bottom: 16px;
}

.header-nav-item > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Style the logo */
#header-nav #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Style the active/current link */
#header-nav a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#header-nav-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #header-nav {
    padding: 20px 0 !important;

    max-height: 54px;
  }
  #header-nav a {
    float: none;
    text-align: left;
  }
  #header-nav-right {
    float: none;
  }
  #header-menu {
    top: 94px !important;
    transition: 0.4s;
  }
}
